/*** GENERAL DISPLAY ***/

/* DEBUG */
.debug-border {
    border: black 1px solid;
}

/* COLUMNS */ 
.col-20 {
    display: inline-block;
    width: 20%;
}
.col-80 {
    width: 78%;
    float: right;
}

/* WIDTH */
.w-75 {
    width: 75%;
}
.w-100 {
    width: 100%;
}