/*** GENERAL DISPLAY ***/

/* COLUMNS */ 
.col-25 {
    display: inline-block;
    width: 25%;
}
.col-75 {
    width: 75%;
    float: right;
}

/* MARGIN */
.mt-20 {
    margin-top: 20px;
}

/* WIDTH */
.w-100 {
    width: 100%;
}