/* HOME PAGE & NAVBAR */

/* NAVBAR */
/* .home-nav {
    background: brown;
    display: inline-block;
    width: 10%;
    height: 100%;
    position: fixed;
    overflow: auto;
    padding: 0;
    margin: 0;
}
.home-m-0 {
    margin: 0px;
} */

/* MAIN CONTENT */
.home-content {
    width: 100%;
    float: right;
}