{% extends 'base.html' %}

{% block content %}
    <!-- TITLE BAR -->
    <div class="todolist-title">
        <h1>ToDoLists</h1>
    </div>

    <div class="main-content">
        <!-- COLLECTIONS -->
        <div class="col-25 todolist-main">
            <div id="collections">
                {% for collection in collections %}
                    {% include 'todolist/collection.html' with collection=collection %}
                {% endfor %}
            </div>

            <form method="POST">
                {% csrf_token %}
                <input type='text' placeholder='new collection...' name="collection"/>
                <button class="todolist-add-button"
                        hx-post="{% url 'todolist:add-collection' %}"
                        hx-target="#collections"
                        hx-swap="beforeend"
                        type=submit>
                    Add
                </button>
            </form>
        </div>

        <!-- TASKS -->
        

        
        <div class="col-75 todolist-main">
            <h2 class="todolist-current-collection">{{ collection }}</h2>
            <form method="POST">
                {% csrf_token %}
                <input type='text' placeholder='new task...' name="task"/>
                <button class="todolist-add-button"
                        hx-post="{% url 'todolist:add-task' %}"
                        hx-target="#tasks"
                        hx-vals="js:{ collection: getCollectionFromUrl() }"
                        hx-swap="beforeend"
                        type=submit>Add</button>
            </form>
            <div id="tasks">
                {% include 'todolist/tasks.html' with tasks=tasks %}
            </div>
        </div>
    </div>
{% endblock %}

