{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- TITLE BAR -->
    <header class="todolist-title">
        <div class="todolist-log">
            <p>{{ current_user }}</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
        <h1>ToDoLists</h1>
    </header>

    <main>
        <!-- COLLECTIONS -->
        <div class="col-20 todolist-nav">
            <nav id="collections">
                {% for collection in collections %}
                    {% include 'todolist/collection.html' with collection=collection %}
                {% endfor %}
            </nav>
            <form method="POST">
                {% csrf_token %}
                <input class="todolist-input-add w-75" type='text' placeholder='new list...' name="collection"/>
                <button class="todolist-button-add"
                        hx-post="{% url 'todolist:add-collection' %}"
                        hx-target="#collections"
                        hx-swap="beforeend">
                        Add
                </button>
            </form>
        </div>


        <!-- TASKS -->

        <div class="col-80 debug-border">
            
            <h2 class="todolist-current-collection">{{ collection }}</h2>
            
            <form method="POST">
                {% csrf_token %}
                <input class="todolist-input-add" type='text' placeholder='new task...' name="task"/>
                <button class="todolist-button-add"
                        hx-post="{% url 'todolist:add-task' %}"
                        hx-target="#tasks"
                        hx-vals="js:{ collection: getCollectionFromUrl() }"
                        hx-swap="beforeend"
                        type=submit>Add</button>
            </form>

            <div id="tasks">
                {% include 'todolist/tasks.html' with tasks=tasks %}
            </div>
        </div>
    </main>
{% endblock %}

