/* GENERAL */
body {
    margin: 0;
}

/* TITLE BAR */
.todolist-title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../img/totdolist-title-background.jpg') no-repeat center center/cover;
}
.todolist-title h1 {
    color: white;
    margin: 0px;
}


.main-content {
    margin: 0 10px;
}
.main-content form {
    margin-top: 10px;
}

/* lists */
.col-25 {
    display: inline-block;
    width: 25%;
}
.col-75 {
    width: 75%;
    float: right;
}


.todolist-task {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    margin-top: 5px;
    padding: 2px;
}