/* GENERAL */
body {
    margin: 0;
    box-sizing: border-box;
}


/*** TOP BAR ***/

/* TITLE BAR */
.todolist-title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../img/todolist-title-background.jpg') no-repeat center center/cover;
    position: relative;
}
.todolist-title h1 {
    color: white;
    margin: 0px;
}
/* TODOLIST LOG */
.todolist-log {
    position:absolute;
    top: 20px;
    left: 10px;
}
.todolist-log p {
    color:white;
    font-size: 20px;
    margin: 0;
}
.todolist-log button {
    margin-top: 10px;
}


/*** CONTENT ***/
.main-content {
    margin: 0px 10px;
}
.todolist-form-collection {
    overflow: auto;
}