/* GENERAL */
body {
    margin: 0;
    box-sizing: border-box;
    
}
input {
    -webkit-appearance: none;
    appearance: none;
    }


/*** TITLE BAR ***/

/* TITLE BAR */
.todolist-title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../img/todolist-title-background.jpg') no-repeat center center/cover;
    position: relative;
}
.todolist-title h1 {
    color: white;
    margin: 0px;
}
/* TODOLIST LOG */
.todolist-log {
    position:absolute;
    top: 20px;
    left: 10px;
}
.todolist-log p {
    color:white;
    font-size: 20px;
    margin: 0;
}
.todolist-log button {
    margin-top: 10px;
}


/*** MAIN CONTENT ***/
main {
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

/* TODOLIST NAVBAR */
.todolist-nav {
    position: fixed;
    height: 100%;
}
.todolist-nav nav {
    padding-top: 10px;
}
.todolist-nav form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todolist-nav-button {
    margin-left: 3px;
    border-radius: 10px;
    align-items: center;
}
.todolist-collection {
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.todolist-icon {
    height: 18px;

}
.todolist-action-button {
    display: flex;
}