/* GENERAL */
body {
    margin: 0;
    box-sizing: border-box;
    
}

/* COLORS */
:root {
    --bg-task: rgba(105, 105, 105, 0.729);
}

/*** TITLE BAR ***/

/* TITLE BAR */
.todolist-title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../img/todolist-title-background.jpg') no-repeat center center/cover;
    position: relative;
}
.todolist-title h1 {
    color: white;
    margin: 0px;
}
/* TODOLIST LOG */
.todolist-log {
    position:absolute;
    top: 20px;
    left: 10px;
}
.todolist-log p {
    color:white;
    font-size: 20px;
    margin: 0;
}
.todolist-log button {
    margin-top: 10px;
}


/*** MAIN CONTENT ***/
main {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

/* TODOLIST NAVBAR */
.todolist-nav {
    position: fixed;
    height: 100%;
}
#collections {
    padding-top: 10px;
}
#collection form {
    align-items: center;
}
.todolist-nav-button {
    margin-left: 3px;
    border-radius: 10px;
    background: linear-gradient(rgb(139, 169, 206), rgba(139, 169, 206, 0.6));
}
.todolist-collection {
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: auto;
}
.todolist-icon {
    height: 18px;
    margin-right: 9px;
}
.todolist-action-button {
    display: flex;
}
.form-add-collection {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}
.todolist-button-add {
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(rgb(67, 191, 36), rgba(67, 191, 36, 0.6));
}


/* CONTENT */
.main-content {
    float: right;
    height: 100%;
}
.content-title {
    width: 40%;
    margin: 15px 20px;
    padding: 4px 4px;
}
.content-title div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.content-title h2 {
    text-align: center;
    margin: 5px 0px;
}
.content-title input {
    padding: 0px 6px;
    border-radius: 10px;
    height: 18px;
}
#tasks {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.todolist-task {
    grid-column-start: 1;
    display: flex;
    align-items: center;
    height: 30px;
    border:var(--bg-task) 1px solid;
    border-radius: 15px;
    /* background: linear-gradient(rgb(139, 169, 206), rgba(139, 169, 206, 0.6)); */
}
.todolist-task p {
    /* width: 73%; */
    width: 60%;
    padding-left: 5px;
}
.task-button {
    width: 20%;
    border-radius: 10px;
    margin-right: 5px;
}
.button-done {
    background: linear-gradient(rgb(67, 191, 36), rgba(67, 191, 36, 0.6));
}
.button-remove {
    background: linear-gradient(rgba(230, 83, 78, 0.803), rgba(230, 83, 78, 0.583));
    margin-right: 5px;
}
.task-done {
    background: linear-gradient(rgb(67, 191, 36), rgba(67, 191, 36, 0.6));
}


/*** MOBILE PHONE DISPLAY ***/
@media all and (max-width: 780px) {
    .col-20 {
        display: block;
        width: 100%;        
    }
    .col-80 {
        width: 100%;
    }
    .todolist-nav {
        position: initial;
    }
    .main-content {
        float: none;
        height: auto;
    }
    #collections {
        padding-top: 20px;
    }
    .form-add-collection {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }
    .content-title {
        width: 100%;
        margin: 20px 0px;
    }
    .content-title h2 {
        text-align: center;
        margin: 5px 0px;
    }
    #tasks {
        margin-left: 0px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

}
